# Web Access Credentials
WEB_USERNAME=admin
WEB_PASSWORD=admin

# Ports
WEB_BACKEND_PORT=5001
WEB_FRONTEND_PORT=5173

# Default Download Path
DOWNLOAD_PATH=./downloads

# Secret key for Flask sessions
SECRET_KEY=yoursecretkeyhere
